<div class="feedback">
  <h2 class="feedback-title">Оставить отзыв</h2>
  <div class="feedback-inputs">
    <app-rating-controls></app-rating-controls>
    <label class="feedback-inputs-label">
      Достоинства
      <div class="form-valid">
        Mинимум 10 символов
      </div>
    </label>

    <input formControlName="advantages" type="text" />
    <label class="feedback-inputs-label"
      >Недостатки
      <div class="form-valid">
        Mинимум 10 символов
      </div>
    </label>

    <input formControlName="limitations" type="text" />
    <label class="feedback-inputs-label">
      Комментарий
      <div class="form-valid-area-textarea">
        Mинимум 10 символов
      </div>
    </label>

    <textarea formControlName="description" type="text"></textarea>
  </div>
  <div class="feedback-btn">
    <button class="feedback-btn-control">
      Оставить отзыв
    </button>
  </div>
</div>
